<!DOCTYPE html>
<html>
<head>
    <title>Pemrograman E</title>
</head>
<body>
    <h1 align="center">BIODATA</h1>
    <hr align="center" width="100%" color="#3a3634" size="2">
    <center>
<!--         <img src="gambar.png" width="300" height="300" alt="image in here"> -->
    </center>
<!--     <h1 align="center" size="36"> Perkenalan </h1> -->
<p align="center"> Halo teman nama saya Idham Hastirou, panggil saya sesukamu. Saya umur 18 kelahiran 2004, tinggal di Kota Batu.<br></p>
 
<p align="left">
    Hobi:
    <ul>
        <li>Bermain Game</li>
        <li>Melihat Film Animasi Jepang</li>
    </ul>
    <hr align="center" width="100%" color="#3a3634" size="2">
<p align="center"> Copyright 2023 </p>
</body>
</html>